<div data-name="root">
    <p>App Layout Here</p>

    <div>
        Input 1:
        <div data-component="input" data-name="input1"></div>
    </div>
    <div>
        Text 1:
        <div data-component="text" data-name="text1"></div>
    </div>
    <div>
        Input 2:
        <div data-component="input" data-name="input2"></div>
    </div>
    <div>
        A button:
        <div data-component="button" data-name="button1"></div>
    </div>
</div>